name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Minimum permission needed for dependency submission
permissions:
  contents: write

jobs:
  compile:
    name: compile project
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B compile --file pom.xml


  test:
     name: unit test execution
     runs-on: ubuntu-latest
     needs: compile

     steps:
       - uses: actions/checkout@v4

       - name: Set up JDK 17
         uses: actions/setup-java@v4
         with:
           java-version: '17'
           distribution: 'temurin'
           cache: maven

       - name: Build with Maven
         run: mvn -B test --file pom.xml
         

  build:
     name: build project
     runs-on: ubuntu-latest
     needs: test

     steps:
       - uses: actions/checkout@v4

       - name: Set up JDK 17
         uses: actions/setup-java@v4
         with:
           java-version: '17'
           distribution: 'temurin'
           cache: maven
       - name: Build with maven
         run: 
           mvn compile
           mvn test
           mvn package

       # - name: Build with Maven
       #   run: mvn -B package --file pom.xml
       - uses: actions/upload-artifact@v4
         with:
            name: java-artifacts
            path: target/*.jar # or path/to/artifact


